{% extends 'base.html.twig' %}

{% block title %}New Entity{% endblock %}

{% block body %}
    <h1>Create new Entity</h1>

    {{ include('entity/_form.html.twig') }}

    <a href="{{ path('entity_index') }}">back to list</a>
{% endblock %}